---

const VARIABLE_1 = import.meta.env.VARIABLE_1
const VARIABLE_2 = import.meta.env.VARIABLE_2

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<p>Si las variables de entornos son cargadas deberia ver el mensaje de abajo.</p>
		<h1>{`${VARIABLE_1} ${VARIABLE_2} !!`}</h1>
	</body>
</html>
